<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- NLog -->
    <section name="nlog" type="NLog.Config.ConfigSectionHandler,NLog" />
  </configSections>

  <!-- NLog 配置 -->
  <nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!--<target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}-api.log" />-->
      <!--<target name="logfile" xsi:type="File" fileName="${basedir}/Logs/${date:format=yyyy-MM-dd}-api.log" layout="########################### ${logger}.${level} ###########################${newline}${longdate}${newline}${message}${exception}${newline}" archiveFileName="${basedir}/Logs/${date:format=yyyy-MM-dd}-api.{##}.log" archiveAboveSize="100000" archiveNumbering="Rolling" concurrentWrites="true" maxArchiveFiles="2" keepFileOpen="false" />
      <target name="eventlog" xsi:type="EventLog" layout="${message}" log="Application" source="Vip.Api" />-->
      <!--<target name="logfile" xsi:type="File"
      主日志文件路径,${basedir}表示当前应用程序域所在的根目录
      fileName="${basedir}\Logs\log.txt"
      archiveFileName表示滚动日志存放路径，log.{#####}.txt是滚动日志文件名
      archiveFileName="${basedir}\Archives\log.{#####}.txt"
      每个日志文件大小的最大值（单位：字节），主日志文件超过大小超过该值时会将文件内容写入滚动日志并清空主日志文件内容
      archiveAboveSize="1024"
      archiveNumbering="Rolling"
      concurrentWrites="true"
      滚动日志文件上限数，滚动日志文件数达到上限新的文件内容会覆盖旧文件内容
      maxArchiveFiles="2"
      keepFileOpen="false" />-->
      <target name="error" xsi:type="File" maxArchiveFiles="10" keepFileOpen="false" archiveAboveSize="10480000" archiveNumbering="Rolling" fileName="${basedir}\Logs\${date:format=yyyy-MM-dd}-ERROR.log" archiveFileName="${basedir}\Logs\${date:format=yyyy-MM-dd}.{##}-ERROR.log" layout="########################### ${logger}.${level} ###########################${newline}${longdate}${newline}${message}${exception}${newline}" />
      <target name="info" xsi:type="File" maxArchiveFiles="10" keepFileOpen="false" archiveAboveSize="10480000" archiveNumbering="Rolling" fileName="${basedir}\Logs\${date:format=yyyy-MM-dd}-INFO.log" archiveFileName="${basedir}\Logs\${date:format=yyyy-MM-dd}.{##}-INFO.log" layout="########################### ${logger}.${level} ###########################${newline}${longdate}${newline}${message}${newline}" />
    </targets>
    <rules>
      <logger name="*" maxlevel="Info" writeTo="info" />
      <logger name="*" minlevel="Error" writeTo="error" />
    </rules>
  </nlog>

  <connectionStrings>
    <!--客户环境-->
    <!--<add name="connStr" connectionString="server=192.168.1.12; user id=sa; password=Nebchina@bj6F; database=NEB_DH3" providerName="System.Data.SqlClient" />
    <add name="connK3" connectionString="server=192.168.1.12; user id=sa; password=Nebchina@bj6F; database=AIS20191024154336" providerName="System.Data.SqlClient" />-->
    <!--测试环境-->
    <!--<add name="connStr" connectionString="server=.; user id=sa; password=123456; database=ZNSC2" providerName="System.Data.SqlClient" />-->
    <!--<add name="connStr" connectionString="server=192.168.2.106; user id=sa; password=123456; database=ZNSC2" providerName="System.Data.SqlClient" />-->
    <!--<add name="connK3" connectionString="server=192.168.2.106; user id=sa; password=123456; database=ZNSC_K3" providerName="System.Data.SqlClient" />-->
    <!--<add name="connStr" connectionString="server=47.106.255.80; user id=sa; password=liuyang1214.; database=DFISH_Online_Service" providerName="System.Data.SqlClient" />-->
    <add name="connStr" connectionString="server=.\SQLEXPRESS; user id=sa; password=123456; database=DFISH_Online_Service" providerName="System.Data.SqlClient" />
    <!--<add name="connStr" connectionString="server=.; user id=sa; password=Chen!@345; database=DFISH_Online_Service" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!--<add key="swaggerRootUrl" value="http://47.106.255.80" />-->
    <add key="swaggerRootUrl" value="https://zxkf.shuziyu.net" />
    <add key="admin_default_salt" value="X/V2q2NJrE7EzoIfLNTC3dsaBou5eQSYa8I1VvezKc+an72NjJV6jAtFZLeQtX+zdVr8aeBkXSznTMX4BzIvmA==" />
    <add key="admin_default_pwd" value="cVGybW3YIUkO7vbuGl0jG7oMaOR4s339JXBiGgE8o3fjnP3djwb7wzJSB+sxmtz3NRiPwdooFJ+h9oJP5efIpWNQBzoiDyWnrn6tv09Kh7/cOCOue3m/HWuJOjUCMIJJ5J1nCwZoe+2S4T/eAy87I77wbB+EYtMnSqQzVaYboSU=" />
    <add key="user_default_pwd" value="888888" />
    <!--小程序-->
    <!--<add key="wxAppId" value="wx01f5caa550e57587" />
    <add key="wxSecret" value="78958555a55d5d2585838ebc2889ac3b" />
    <add key="mchId" value="1510456761" />
    <add key="mchKey" value="ZNPZ123456ZNPZ123456ZNPZ123456zn" />
    <add key="wxAppMsgPulToken" value="D2I1lJrJzSnY6Sos30jG2O" />-->
    <!--公众号-->
    <add key="gzhAppId" value="wxc3517edf0c278b8b" />
    <add key="gzhSecret" value="1f59790819cb3c68cf94293898a382fd" />
    <!--小程序-->
    <add key="wxAppId" value="wx05551978a9c3ba4b" />
    <add key="wxSecret" value="d80b72d6b4a780949bdf3634cbf84798" />
    <add key="qywxCorpId" value="ww0e340fee14dae008" />
    <add key="qywxSecret" value="R1y-UsPAuYj-4-bmPBfCz35Sk6XnHv60aAZLMqMuhps" />
    <add key="qywxMsgPullToken" value="ch8dH6NWK9F8BGbDNSXqe" />
    <add key="qywxEncodingAESKey" value="jmfeuUbJIIEK9KPhv8gku12kWPr7dpwRUGbnj5e01XR" />
    <!-- 达摩接口 地址-->
    <add key="dharma_url" value="http://hope.demogic.com/open-api" />
    <!-- 达摩接口 应用key-->
    <!--<add key="AppKey" value="SADZjSlN" />-->
    <add key="AppKey" value="jiPXNF74" />
    <!-- 达摩接口 应用秘钥-->
    <!--<add key="AppSecret" value="fa27c1e762474bb68f54135dc9fe8c48" />-->
    <add key="AppSecret" value="29ab04cc024d4a54acb90de68fb6449a" />
    <!-- 达摩接口 编号-->
    <!--<add key="Signal" value="gh_de350151f01d" />-->
    <add key="Signal" value="gh_39a19c836619" />
    <!-- 达摩接口 区分新旧版本接口-->
    <add key="Version" value="1" />
    <!-- K3 BBC 地址-->
    <add key="k3_bbc_url" value="http://203.187.171.235:1700" />
    <!--临时编码编号-->
    <add key="code_rule_tempCode" value="CR-SYS-YYLTMPENCODING" />
    <!--零售开单-->
    <add key="code_rule_retailOrder" value="CR-SYS-RETAILORDER" />
    <!--BBC退货申请单编码规则-->
    <add key="code-rule-returnReq" value="CR-SYS-RETURNREQ" />
    <!--B2B订单号编码规则-->
    <add key="code-rule-b2bOrder" value="CR-SYS-B2BORDER" />
    <!--渠道调拨单编码规则-->
    <add key="code_rule_channelReq" value="CR-SYS-CHANNELREQ" />
    <!--渠道出库单编码规则-->
    <add key="code_rule_outStock" value="CR-SYS-OUTSTOCK" />
    <!--渠道入库单编码规则-->
    <add key="code_rule_inStock" value="CR-SYS-INSTOCK" />
    <!--渠道定制订单编码规则-->
    <add key="code_rule_customize" value="CR-SYS-CUSTOMIZE" />
    <!--快递100配置-->
    <!--<add key="kd100_customer" value="93A5E06DAEE9D655D88E68D6E0D57194" />
    <add key="kd100_key" value="wYvlaxgS5082" />-->
    <add key="kd100_customer" value="894918F89CC97C0E8B02A1DBA6DF131C" />
    <add key="kd100_key" value="GxoZKxrX8614" />
    <!--redis配置-->
    <add key="redisHost" value="127.0.0.1" />
    <add key="redisPort" value="6379" />
    <add key="redisPwd" value="znpz*SERVER" />
    <add key="redisDbNumber" value="1" />
    <!--NEB接口地址-->
    <add key="neb_api_host" value="http://192.168.2.106:8001/api" />
     <!--<add key="neb_api_host" value="http://localhost:52920/api"/>-->
    <!--A3接口地址-->
    <!--<add key="a3_api_host" value="http://localhost:52922/api"/>-->
    <add key="a3_api_host" value="http://182.48.111.203:8004/api" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
    <!--邮箱配置-->
      <system.net>
        <mailSettings>
          <smtp deliveryMethod="Network" from="13100256621@sohu.com">
            <network host="smtp.sohu.com" userName="13100256621@sohu.com" password="5JY2037PGA6QHR1" />
          </smtp>
        </mailSettings>
      </system.net>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <!--上传文件大小限制20M-->
    <httpRuntime maxRequestLength="20971520" targetFramework="4.6.1" />
    <httpModules>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="managedHandler" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="B77A5C561934E089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Pipelines" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.WebApi.Versioning" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
